.vxt-forms-checkbox-wrap input[type='checkbox'],
.vxt-form-checkbox-option input[type='checkbox'] {
	vertical-align: middle;
	margin-right: 15px;
}

.vxt-forms-checkbox-controls {
	margin-top: 10px;
}

.vxt-form-checkbox-option-delete.has-icon {
	vertical-align: middle;
	padding: 10px;
	margin: 0;
}

.vxt-form-checkbox-option .vxt-inner-input-view {
	margin-right: 20px;
}
