.vxt-forms-select-controls {
	margin-top: 10px;
}

.vxt-form-select-option-delete.has-icon {
	vertical-align: middle;
	padding: 10px;
	margin: 0;
}

.vxt-forms-main-form .vxt-inner-input-view {
	vertical-align: middle;
	width: 35% !important;
	margin: 0 10px !important;
}
