[data-type='vexaltrix/faq'] {
	.block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: auto;
		padding-right: 0;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.block-editor-inner-blocks > .block-editor-block-list__layout {
		display: block;
	}

	.vxt-faq-layout-grid .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
	}

	.vxt-faq-layout-grid.vxt-faq-equal-height .block-editor-inner-blocks > .block-editor-block-list__layout {
		.block-editor-block-list__block,
		.vxt-faq-child__outer-wrap,
		.vxt-faq-item {
			height: 100%;
		}
	}

	.vxt-editor-preview-mode-mobile.vxt-faq-layout-grid.vxt-faq-equal-height
		.block-editor-inner-blocks
		> .block-editor-block-list__layout {
		.block-editor-block-list__block,
		.vxt-faq-child__outer-wrap,
		.vxt-faq-item {
			height: auto;
		}
	}
}
