.vxt-color-switch-control-container {
	.components-flex.components-angle-picker-control {
		margin-bottom: 0;
	}

	.vxt-multi-buttons-control {
		margin-bottom: 5px;
	}

	.vxt-color-popover-container {
		margin-top: 25px;
	}

	.components-custom-gradient-picker {
		margin-top: 25px;
	}

	.vxt-advanced-color-settings-container {
		justify-content: flex-end;
	}
}
