.vxt-howto__cost-wrap {
	display: flex;
	align-items: center;

	.vxt-howto-estcost-text,
	.vxt-howto-estcost-value,
	.vxt-howto-estcost-type {
		display: inline-flex;
	}
}

.vxt-howto__time-wrap {
	display: flex;
	align-items: center;

	.vxt-howto-timeNeeded-text,
	.vxt-howto-timeNeeded-value,
	.vxt-howto-timeINmin-text {
		display: inline-flex;
	}

	.vxt-howto-timeINmin-text {
		margin-left: 5px;
	}
}

.vxt-step-link-all {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 3;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}

.vxt-how-to-step-wrap {
	position: relative;
	margin-top: 25px;
}

.vxt-step-image-content-wrap {
	&.uag-image-position-left-title {
		display: flex;

		.vxt-how-to-step-image {
			margin-right: 20px;
		}
	}

	&.uag-image-position-right-title {
		display: flex;
		flex-direction: row-reverse;

		.vxt-how-to-step-image {
			margin-left: 20px;
		}
	}

	&.uag-image-position-above-title {
		display: block;

		.vxt-how-to-step-image {
			margin-bottom: 20px;
		}
	}

	.vxt-step-link {
		text-decoration: none !important;
	}

	.vxt-step-link:hover {
		text-decoration: none !important;
	}
}

.vxt-howto-req-steps-text,
.vxt-howto-req-tools-text,
.vxt-howto-req-materials-text {
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
}
.vxt-how-to-main-wrap {
	width: 100%;
	.vxt-howto__source-image {
		height: auto;
		max-width: 100%;
	}
}
