.vxt-forms__outer-wrap {
	.vxt-forms-input,
	.vxt-forms-input::placeholder,
	.vxt-forms-input-label,
	.vxt-forms-main-submit-button,
	.vxt-forms-success-message,
	.vxt-forms-failed-message {
		-webkit-transition-property: color, background-color, border-color;
		-moz-transition-property: color, background-color, border-color;
		-o-transition-property: color, background-color, border-color;
		transition-property: color, background-color, border-color;
		-webkit-transition-duration: 0.15s;
		-moz-transition-duration: 0.15s;
		-o-transition-duration: 0.15s;
		transition-duration: 0.15s;
	}

	.vxt-forms-main-form {
		.vxt-forms-input,
		input[type='text'] {
			min-height: 0 !important;

			&::-webkit-input-placeholder {
				overflow: unset;
			}
		}

		input:not( [type='checkbox'] ):not( [type='radio'] ):not( [type='file'] ),
		textarea,
		select {
			width: 100%;
			box-sizing: border-box;
		}

		.vxt-forms-checkbox-wrap .vxt-form-checkbox-option input.vxt-inner-input-view {
			width: 33%;
		}

		.vxt-forms-phone-wrap {
			.vxt-form-phone-country {
				width: 25%;
				margin-right: 5px;
			}

			.vxt-forms-phone-input {
				width: 75% !important;
			}
		}
		//Phone block css.
		.vxt-forms-phone-flex {
			display: flex;
			width: 100%;
			justify-content: space-between;

			.vxt-form-phone-country {
				width: 25%;
				margin-right: 5px;
			}
		}

		.required::after {
			color: #f00;
			content: ' *';
		}

		.vxt-forms-form-hidden-data {
			display: none;
		}

		.vxt-forms-main-submit-button-wrap .vxt-forms-main-submit-button.wp-block-button__link {
			width: auto;
		}
	}

	.vxt-forms-submit-message-hide {
		display: none;
	}

	.vxt-forms-success-message {
		padding: 20px 20px;
	}

	.vxt-forms-failed-message {
		padding: 20px 20px;
	}

	span.components-spinner {
		float: none;
	}

	.vxt-forms-input.vxt-form-phone-country {
		background-color: #fff;
	}

	//Ready Classes.
	.uag-col-2-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 15px;
	}

	.uag-col-3-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 15px;
	}

	.uag-col-4-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 15px;
	}

	/* The switch - the box around the slider */

	.vxt-switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 25px;
	}

	/* Hide default HTML checkbox */

	.vxt-switch input {
		width: 0;
		height: 0;
		opacity: 0;
	}

	/* The slider */

	.vxt-slider {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		cursor: pointer;
		transition: 0.4s;
		-webkit-transition: 0.4s;
	}

	.vxt-switch .vxt-slider::before {
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: #000;
		transition: 0.4s;
		content: '';
		-webkit-transition: 0.4s;
	}

	.vxt-switch input:checked + .vxt-slider::before {
		background-color: #fff;
	}

	.vxt-slider.round::before {
		// Important is added to override the Square Styling if Rounded is Selected.
		border-radius: 50% !important;
	}
	// Toggle Css End
}

.vxt-forms-select-box,
.vxt-form-phone-country,
.vxt-forms-phone-wrap .vxt-forms-phone-input {
	height: auto;
	-webkit-appearance: none;
	appearance: none;
}

.vxt-forms-radio-wrap input[type='radio']:checked + label::before {
	line-height: 1.2;
	content: ' ';
}

.vxt-forms-radio-wrap input[type='radio'] + label::before {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 5px;
	box-sizing: content-box;
	text-align: center;
	line-height: 1.2;
	content: '';
}

.vxt-forms-radio-wrap input[type='radio'].round + label::before {
	// Important is added to override the Square Styling if Rounded is Selected.
	border-radius: 100% !important;
}

select::after,
select::before {
	padding: 10px;
}

.vxt-forms-radio-wrap input[type='radio'],
.vxt-forms-checkbox-wrap input[type='checkbox'],
.vxt-forms-accept-wrap input[type='checkbox'] {
	opacity: 0;
}

.vxt-forms-checkbox-wrap input[type='checkbox']:checked + label::before,
.vxt-forms-accept-wrap input[type='checkbox']:checked + label::before {
	line-height: 1.2;
	content: '\2714';
}

.vxt-forms-checkbox-wrap input[type='checkbox'] + label::before,
.vxt-forms-accept-wrap input[type='checkbox'] + label::before {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 5px;
	box-sizing: content-box;
	text-align: center;
	line-height: 1.2;
	content: ' ';
}

@media only screen and ( max-width: 767px ) {
	.vxt-forms__outer-wrap {
		.vxt-forms-main-form {
			//Phone block css.
			.vxt-forms-phone-flex {
				display: flex;
				width: 100%;

				& .vxt-form-phone-country {
					width: 25%;
				}
			}
		}
	}
}

.wp-block-vxt-forms {
	/* Start here - Ready Classes for Width */
	&.vxt-forms-inline-field {
		/* Start here - To manage the gap between the Forms fields. */
		&.vxt-forms-column-gap-20 .vxt-forms-main-form {
			column-gap: 20px;
		}
		&.vxt-forms-column-gap-15 .vxt-forms-main-form {
			column-gap: 15px;
		}
		&.vxt-forms-column-gap-10 .vxt-forms-main-form {
			column-gap: 10px;
		}
		&.vxt-forms-column-gap-5 .vxt-forms-main-form {
			column-gap: 5px;
		}
		/* End here - To manage the gap between the Forms fields. */

		/* Start here - To manage the submit button width for desktop. */
		&.vxt-forms-button-desk-width-20 .vxt-forms-main-submit-button-wrap {
			width: 20%;
		}
		&.vxt-forms-button-desk-width-25 .vxt-forms-main-submit-button-wrap {
			width: 25%;
		}
		&.vxt-forms-button-desk-width-33 .vxt-forms-main-submit-button-wrap {
			width: 33.33%;
		}
		&.vxt-forms-button-desk-width-40 .vxt-forms-main-submit-button-wrap {
			width: 40%;
		}
		&.vxt-forms-button-desk-width-50 .vxt-forms-main-submit-button-wrap {
			width: 50%;
		}
		&.vxt-forms-button-desk-width-60 .vxt-forms-main-submit-button-wrap {
			width: 60%;
		}
		&.vxt-forms-button-desk-width-66 .vxt-forms-main-submit-button-wrap {
			width: 66.66%;
		}
		&.vxt-forms-button-desk-width-75 .vxt-forms-main-submit-button-wrap {
			width: 75%;
		}
		&.vxt-forms-button-desk-width-80 .vxt-forms-main-submit-button-wrap {
			width: 80%;
		}
		/* End here - To manage the submit button width for desktop. */

		/* Start here - To align the forms field. */
		&.vxt-forms-align-item-flex-start .vxt-forms-main-form {
			align-items: flex-start;
		}
		&.vxt-forms-align-item-center .vxt-forms-main-form {
			align-items: center;
		}
		/* End here - To align the forms field. */

		.vxt-forms-main-form {
			/* Start here - To make the forms field inline. */
			display: flex;
			flex-wrap: wrap;
			margin: 0 -5px;
			position: relative;
			text-align: left;
			/* End here - To make the forms field inline. */

			/* Start here - To adjust the forms field width on desktop. */
			.vxt-forms-field-desk-width-20 {
				width: 20%;
			}
			.vxt-forms-field-desk-width-25 {
				width: 25%;
			}
			.vxt-forms-field-desk-width-33 {
				width: 33.33%;
			}
			.vxt-forms-field-desk-width-40 {
				width: 40%;
			}
			.vxt-forms-field-desk-width-50 {
				width: 50%;
			}
			.vxt-forms-field-desk-width-60 {
				width: 60%;
			}
			.vxt-forms-field-desk-width-66 {
				width: 66.66%;
			}
			.vxt-forms-field-desk-width-75 {
				width: 75%;
			}
			.vxt-forms-field-desk-width-80 {
				width: 80%;
			}
			/* End here - To adjust the forms field width on desktop. */
		}
	}
}

@media ( min-width: 768px ) and ( max-width: 1024px ) {
	.wp-block-vxt-forms {
		&.vxt-forms-inline-field {
			.vxt-forms-main-form {
				/* Start here - To adjust the forms field width on tablet. */
				.vxt-forms-field-tablet-width-20 {
					width: 20%;
				}
				.vxt-forms-field-tablet-width-25 {
					width: 25%;
				}
				.vxt-forms-field-tablet-width-33 {
					width: 33.33%;
				}
				.vxt-forms-field-tablet-width-40 {
					width: 40%;
				}
				.vxt-forms-field-tablet-width-50 {
					width: 50%;
				}
				.vxt-forms-field-tablet-width-60 {
					width: 60%;
				}
				.vxt-forms-field-tablet-width-66 {
					width: 66.66%;
				}
				.vxt-forms-field-tablet-width-75 {
					width: 75%;
				}
				.vxt-forms-field-tablet-width-80 {
					width: 80%;
				}
				.vxt-forms-field-tablet-width-100 {
					width: 100%;
				}
				.vxt-forms-field-tablet-width-unset {
					width: auto;
				}
				/* End here - To adjust the forms field width on tablet. */
			}

			/* Start here - To adjust the forms submit button width on tablet. */
			&.vxt-forms-button-tablet-width-20 .vxt-forms-main-submit-button-wrap {
				width: 20%;
			}
			&.vxt-forms-button-tablet-width-25 .vxt-forms-main-submit-button-wrap {
				width: 25%;
			}
			&.vxt-forms-button-tablet-width-33 .vxt-forms-main-submit-button-wrap {
				width: 33.33%;
			}
			&.vxt-forms-button-tablet-width-40 .vxt-forms-main-submit-button-wrap {
				width: 40%;
			}
			&.vxt-forms-button-tablet-width-50 .vxt-forms-main-submit-button-wrap {
				width: 50%;
			}
			&.vxt-forms-button-tablet-width-60 .vxt-forms-main-submit-button-wrap {
				width: 60%;
			}
			&.vxt-forms-button-tablet-width-66 .vxt-forms-main-submit-button-wrap {
				width: 66.66%;
			}
			&.vxt-forms-button-tablet-width-75 .vxt-forms-main-submit-button-wrap {
				width: 75%;
			}
			&.vxt-forms-button-tablet-width-80 .vxt-forms-main-submit-button-wrap {
				width: 80%;
			}
			&.vxt-forms-button-tablet-width-100 .vxt-forms-main-submit-button-wrap {
				width: 100%;
			}
			&.vxt-forms-button-tablet-width-unset .vxt-forms-main-submit-button-wrap {
				width: auto;
			}
			/* End here - To adjust the forms submit button width on tablet. */
		}
	}
}

@media ( max-width: 767px ) {
	.wp-block-vxt-forms {
		&.vxt-forms-inline-field {
			.vxt-forms-main-form {
				/* Start here - To adjust the forms field width on mobile. */
				.vxt-forms-field-mobile-width-20 {
					width: 20%;
				}
				.vxt-forms-field-mobile-width-25 {
					width: 25%;
				}
				.vxt-forms-field-mobile-width-33 {
					width: 33.33%;
				}
				.vxt-forms-field-mobile-width-40 {
					width: 40%;
				}
				.vxt-forms-field-mobile-width-50 {
					width: 50%;
				}
				.vxt-forms-field-mobile-width-60 {
					width: 60%;
				}
				.vxt-forms-field-mobile-width-66 {
					width: 66.66%;
				}
				.vxt-forms-field-mobile-width-75 {
					width: 75%;
				}
				.vxt-forms-field-mobile-width-80 {
					width: 80%;
				}
				.vxt-forms-field-mobile-width-100 {
					width: 100%;
				}
				.vxt-forms-field-mobile-width-unset {
					width: auto;
				}
				/* End here - To adjust the forms field width on mobile. */
			}

			/* Start here - To adjust the forms submit button width on mobile. */
			&.vxt-forms-button-mobile-width-20 .vxt-forms-main-submit-button-wrap {
				width: 20%;
			}
			&.vxt-forms-button-mobile-width-25 .vxt-forms-main-submit-button-wrap {
				width: 25%;
			}
			&.vxt-forms-button-mobile-width-33 .vxt-forms-main-submit-button-wrap {
				width: 33.33%;
			}
			&.vxt-forms-button-mobile-width-40 .vxt-forms-main-submit-button-wrap {
				width: 40%;
			}
			&.vxt-forms-button-mobile-width-50 .vxt-forms-main-submit-button-wrap {
				width: 50%;
			}
			&.vxt-forms-button-mobile-width-60 .vxt-forms-main-submit-button-wrap {
				width: 60%;
			}
			&.vxt-forms-button-mobile-width-66 .vxt-forms-main-submit-button-wrap {
				width: 66.66%;
			}
			&.vxt-forms-button-mobile-width-75 .vxt-forms-main-submit-button-wrap {
				width: 75%;
			}
			&.vxt-forms-button-mobile-width-80 .vxt-forms-main-submit-button-wrap {
				width: 80%;
			}
			&.vxt-forms-button-mobile-width-100 .vxt-forms-main-submit-button-wrap {
				width: 100%;
			}
			&.vxt-forms-button-mobile-width-unset .vxt-forms-main-submit-button-wrap {
				width: auto;
			}
			/* End here - To adjust the forms submit button width on mobile. */
		}
	}
}
