/* stylelint-disable selector-id-pattern */
#toplevel_page_vexaltrix .wp-submenu li {
  clear: both;
}
#toplevel_page_vexaltrix .wp-submenu li:nth-child(6)::after {
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  float: left;
  margin: 8px 0;
  width: 100%;
}
#toplevel_page_vexaltrix.wp-not-current-submenu .wp-submenu li.wp-first-item::after {
  margin: 8px -3px;
}
#toplevel_page_vexaltrix.wp-not-current-submenu .wp-submenu li:nth-last-child(2)::after {
  margin: 8px -3px;
}
#toplevel_page_vexaltrix .wp-submenu a[href="admin.php?page=vexaltrix&path=upgrade-now"] {
  background-color: #6104ff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
  display: block;
  margin: 8px 12px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
#toplevel_page_vexaltrix .wp-submenu a[href="admin.php?page=vexaltrix&path=upgrade-now"]:focus, #toplevel_page_vexaltrix .wp-submenu a[href="admin.php?page=vexaltrix&path=upgrade-now"]:hover {
  box-shadow: unset;
  background-color: #5300e0;
}

.wp-submenu li:has(> a[href*="path=free-vs-pro"]) {
  background-color: #00a32a !important;
}
.wp-submenu li:has(> a[href*="path=free-vs-pro"]):hover {
  background-color: #008000 !important;
}
.wp-submenu li a[href*="path=free-vs-pro"] {
  color: #fff !important;
  font-weight: 500;
}
