@use '../../styles/variables';

.uag-number-control {
	.vxt-number-control__mobile-controls {
		// Full-width Control.
		&.uag-number-control__full-width {
			position: relative;

			color: variables.$vexaltrix-color-body;

			.uag-control-label {
				margin-bottom: variables.$vexaltrix-control-label-bottom-margin;
			}

			.components-number-control .components-input-control__input {
				padding: 0 7px 0 12px !important;
			}

			> .components-button {
				position: absolute;
				left: 75%;
				bottom: 0%;
				height: variables.$vexaltrix-control-input-height;
				z-index: 1;
			}
		}

		// Inline Control.
		&.uag-number-control__inline {
			align-items: center;
			display: grid;
			grid-template-columns: repeat( 3, 1fr );
			color: variables.$vexaltrix-color-body;

			.uag-control-label {
				margin-bottom: 0;
			}

			.components-number-control .components-input-control__input {
				padding: 0 7px 0 12px !important;
			}

			.components-input-control__container {
				width: 100%;
			}

			.vxt-dynamic-content-wrap {
				width: 245%;
				margin-top: 20px;
			}

			> .components-button {
				position: absolute;
				right: 34%;
			}
		}

		> .components-button svg {
			width: 18px;
			stroke: variables.$vexaltrix-color-icon;
			stroke-width: 1.4;
			fill: none;
			z-index: 1;
		}
	}

	.vxt-control__header {
		display: grid;
		grid-template-columns: 100%;
		justify-items: end;
		justify-content: end;
	}

	.uag-responsive-label-wrap {
		grid-column: 1 / span 2;
	}

	.vxt-dynamic-content-wrap {
		margin-top: 20px;
	}

	// To fix dynamic content layout for inline control variant.
	&.vxt-text-control--open-dynamic-content {
		.uag-number-control__inline {
			display: block;

			.vxt-dynamic-content-wrap {
				width: 100%;
				margin-top: 20px;
			}
		}
	}

	// Enables/shows arrows in the input field in Chrome (even in inactive state, so as to maintain a consistent UI across browsers).
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		opacity: 1;
	}
}
