/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.vxt-cta__outer-wrap .vxt-cta__content,
.vxt-cta__outer-wrap a.vxt-cta__block-link span,
.vxt-cta__outer-wrap .vxt-cta__content-right .vxt-cta__button-wrapper,
.vxt-cta__outer-wrap .vxt-cta-typeof-button,
.vxt-cta__outer-wrap .vxt-cta__content-right .vxt-cta__block-link,
.vxt-cta__outer-wrap .vxt-cta-with-svg {
	display: inline-block;
}

.vxt-cta__outer-wrap {
	display: flex;
	justify-content: space-between;
}

.wp-block-vxt-call-to-action .vxt-cta__buttons {
	display: inline-flex;
}

.wp-block-vxt-call-to-action .wp-block-button__link,
.wp-block-vxt-call-to-action .ast-outline-button {
	fill: currentcolor;
	justify-content: center;
}

.vxt-cta__button-link-wrapper,
.vxt-cta-second__button {
	display: inline-flex;
	align-items: center;
	word-break: keep-all;
	width: 100%;
}

.vxt-cta__title {
	padding: 0;
	margin: 0;
	display: block;
}

.vxt-cta__content-right .vxt-cta__button-wrapper {
	float: right;
}

.vxt-cta__link-wrapper.vxt-cta__block-link-style:empty {
	display: none;
}

a.vxt-cta__block-link,
.entry .entry-content a.vxt-cta__block-link,
a.vxt-cta__block-link-wrap,
.entry .entry-content a.vxt-cta__block-link-wrap {
	text-decoration: none;
}

a.vxt-cta__block-link:hover,
.entry .entry-content a.vxt-cta__block-link:hover,
a.vxt-cta__block-link-wrap:hover,
.entry .entry-content a.vxt-cta__block-link-wrap:hover .entry .entry-content a.vxt-cta__block-link:hover {
	color: inherit;
}

.vxt-cta__content-right {
	text-align: right;
	justify-content: flex-end;
}

.vxt-cta__left-right-wrap {
	width: 100%;
	word-break: break-word;
}

.vxt-cta__icon-position-below-title .vxt-cta__left-right-wrap {
	display: block;
	min-width: 100%;
	width: 100%;
}

.vxt-cta__icon-position-left .vxt-cta__left-right-wrap,
.vxt-cta__icon-position-right .vxt-cta__left-right-wrap {
	display: flex;
}

.vxt-cta__icon-position-right .vxt-cta__left-right-wrap {
	justify-content: flex-end;
}

.vxt-cta__block-link-icon-after {
	margin-left: 5px;
	margin-right: 0;
}

.vxt-cta__block-link-icon-before {
	margin-left: 0;
	margin-right: 5px;
}

.vxt-cta__block-link-icon,
.vxt-cta__block svg {
	transition: all 200ms linear;
}

.vxt-cta__block {
	position: relative;
}

.vxt-cta-typeof-button {
	line-height: 1;
	text-align: center;
}

.vxt-cta__content-right .vxt-cta__button-link-wrapper,
.vxt-cta__content-right .vxt-cta-second__button .vxt-cta__content-right .vxt-cta__block-link,
.vxt-cta__content-right.vxt-cta__button-valign-middle .vxt-cta__left-right-wrap {
	display: flex;
	align-items: center;
}

.vxt-cta__content-right .vxt-cta__button-link-wrapper,
.vxt-cta__content-right .vxt-cta-second__button .vxt-cta__content-right .vxt-cta__block-link {
	justify-content: center;
}

.vxt-cta__link-wrapper a {
	box-shadow: none;
	text-decoration: none;
}

.vxt-cta__block,
.vxt-cta__content,
.vxt-cta__left-right-wrap {
	z-index: 1;
}

.vxt-cta__block-link {
	cursor: pointer;
}

.vxt-cta__content-right .vxt-cta__block-link {
	float: right;
	padding: 10px 14px;
}

a.vxt-cta__block-link-wrap {
	color: inherit;
}

.vxt-cta__content p:empty {
	display: none;
}

.vxt-cta__button-type-none .vxt-cta__content {
	width: 100%;
}

.vxt-cta-with-svg {
	height: 14px;
	width: 14px;
	line-height: 14px;
	vertical-align: middle;
}

.vxt-cta__block svg {
	display: block;
	height: inherit;
	width: inherit;
}

// This width and height is used as default width and height of svg in frontend.
.vxt-cta__button-link-wrapper svg {
	width: 20px;
	height: 20px;
}

.vxt-cta__align-button-after {
	margin-left: 5px;
}

.vxt-cta__align-button-before {
	margin-right: 5px;
}

.vxt-cta__block-link i {
	font-style: normal;
}

a.vxt-cta__link-to-all {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
}

.wp-block-vxt-call-to-action {
	position: relative;

	a.vxt-cta__link-to-all {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 11;
	}
}

@media only screen and ( max-width: 976px ) {
	.vxt-cta__content-stacked-tablet,
	.vxt-cta__content-stacked-tablet .vxt-cta__left-right-wrap {
		flex-direction: column;
		text-align: center;
	}

	.vxt-cta__content-stacked-tablet.vxt-cta__content-right .vxt-cta__button-wrapper {
		float: none;
		margin: 0 auto;
	}

	.vxt-cta__content-stacked-tablet .vxt-cta__left-right-wrap .vxt-cta__content {
		margin-left: 0;
		margin-right: 0;
	}

	.vxt-cta__content-stacked-tablet.vxt-cta__content-right .vxt-cta__left-right-wrap .vxt-cta__content,
	.vxt-cta__content-stacked-tablet.vxt-cta__content-right .vxt-cta__left-right-wrap .vxt-cta__link-wrapper {
		width: 100% !important;
	}
}

@media screen and ( max-width: 767px ) {
	.vxt-cta__content-stacked-mobile,
	.vxt-cta__content-stacked-mobile .vxt-cta__left-right-wrap {
		flex-direction: column;
		text-align: center;
	}

	.vxt-cta__content-stacked-mobile.vxt-cta__content-right .vxt-cta__button-wrapper {
		float: none;
		margin: 0 auto;
	}

	.vxt-cta__content-stacked-mobile .vxt-cta__left-right-wrap .vxt-cta__content {
		margin-left: 0;
		margin-right: 0;
	}

	.vxt-cta__content-stacked-mobile.vxt-cta__content-right .vxt-cta__left-right-wrap .vxt-cta__content,
	.vxt-cta__content-stacked-mobile.vxt-cta__content-right .vxt-cta__left-right-wrap .vxt-cta__link-wrapper {
		width: 100% !important;
	}
}

// Styling for multiline paragraph
.vxt-cta__desc p:last-child {
	margin-bottom: 0;
}
