.vxt-remove-ring input[type="checkbox"],
.vxt-remove-ring a,
.vxt-remove-ring {
	outline: none !important;
	--tw-ring-inset: auto !important;
	box-shadow: unset !important;
}

.border-none > input {
	border: none !important;
}
