.vxt-tax-not-available {
	padding: 10px;
	border: 1px solid;
	text-align: center;
}

.vxt-layout-list .vxt-list-wrap {
	margin: 0;
}

.vxt-list-display-style-group {
	margin-bottom: 20px !important;
}

.vxt-layout-grid a:-webkit-any-link {
	text-decoration: none;
}
